TaskManager-api/log
TaskManager-api/test
TaskManager-api/tmp
TaskManager-api/db/development.sqlite3

TaskManager-api/task-manager-app/node_modules
TaskManager-api/task-manager-app/build
TaskManager-api/task-manager-app/.eslintcache
