.background {
	/* background-size: cover; */
	background-color: #E0E0E2;
	margin:0;
    padding:0;

			
}

.background2{
	background-color: #721817;
}

.primaryColour {
	color: #FA9F42;
}

.primaryColour2 {
	color: #0B6E4F;
}

.secondaryColour {
	color: #2B4162;
}

.container {
	width: 90%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

.header {
	color: black;
	padding: 5px;
	text-align: center;
	font-family: Tahoma, sans-serif;
}

.fieldContainer {
	margin: 24px 0px; /* top bottom, left right */
}

.field {
	width: 500px;
}
