.container {
	width: 90%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

.header {
	color: white;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

.center {
	text-align: center;
}

.fieldContainer {
	margin: 24px 0px; /* top bottom, left right */
}

.field {
	width: 90%;
}
